## 자료형과 제어문
- 숫자, 문자열, 리스트, 디플, 딕셔너리 등을 하나씩 자세히 알아보자

### 숫자형

In [445]:
123

123

In [446]:
-345

-345

In [447]:
0

0

### 실수

In [448]:
123.45

123.45

In [449]:
-1234.5

-1234.5

In [450]:
3.4e10

34000000000.0

In [451]:
0.123456789012345678901234567890123456789

0.12345678901234568

## 8진수

In [452]:
0o177

127

In [453]:
oct(10) # 10진수를 8진수 문자열로 변환

'0o12'

In [454]:
int('0o177', 8) # 8진수 문자열을 정수형으로 변환

127

## 16진수

In [455]:
0x177

375

In [456]:
hex(10) # 10진수를 16진수 문자열로 변환

'0xa'

In [457]:
int('0xa', 16) # 16진수 문자열을 정수형으로 변환

10

## 2진수

In [458]:
0b0011 ex

3

In [459]:
bin(10) # 10진수를 2진수 문자열로 변환

'0b1010'

In [460]:
int('0b0011',2) # 2진수 문자열을 정수형으로 변환

3

## 출력 
- 캬 .... 휼륭 ...

In [461]:
print('{}-{}-{}'.format(10, 20, 30))

10-20-30

In [462]:
print('{:#0o} {:#x} {:#0b}'.format(10, 10, 10))

0o12 0xa 0b1010

## 복소수
- 파이썬은 j를 사용한다.

In [463]:
1+2j

(1+2j)

In [464]:
a = 3-4j

In [465]:
a

(3-4j)

In [466]:
a.real # real은 복소수의 실수 부분을 돌려준다.

3.0

In [467]:
a.imag # imag는 복소수의 허수 부분을 돌려준다.

-4.0

In [468]:
a.conjugate() # conjuate는 복소수의 켤레 복소수를 돌려준다.

(3+4j)

In [469]:
abs(a) # abs는 복소수의 절대값을 돌려준다.

5.0

## 숫자연산

In [470]:
3 / 4 # 정수의 연산도 소수로 돌려준다. (친절해)

0.75

In [471]:
a = 3; b=4
a ** b # a늬 b승을 돌려준다.

81

In [472]:
7 % 3 # 나머지를 돌려준다.

1

## 문자열 (String)
- 이중 인용부호(")로 둘러싸인 것은 모두 문자열이라고 생각하면 될 것이다.

In [473]:
"Hello World. i'am sun" # "을 사용하면 '를 포함시킬 수 있다.

"Hello World. i'am sun"

In [474]:
'Python is fun. "선정이말했다.' # '을 사용하면 "을 포함시킬 수 있다.

'Python is fun. "선정이말했다.'

In [475]:
"Hello World. \"선정이야\"" # \를 사용해도된다 선택은 자유

'Hello World. "선정이야"'

In [476]:
'python is fun. i\'am sun' # 반대로 마찬가지임

"python is fun. i'am sun"

#### 여러 줄 짜리 문자열 처리

In [477]:
"""sunjung! \nare you happy?"""
# \n을 넣어주던가

'sunjung! \nare you happy?'

In [478]:
'''i want to eat a 전복돌솥밥.
먹고싶다아아아아아아.. 영양이 필요해
''' 
## 엔터를 처주던가 '," 모두 동일

'i want to eat a 전복돌솥밥.\n먹고싶다아아아아아아.. 영양이 필요해\n'

### 문자열연산

In [479]:
"python" + " is fun "

'python is fun '

In [480]:
"python " * 3

'python python python '

### 인덱싱과 슬라이싱

In [481]:
a = "Life is too short, You need Python"

In [482]:
a[3]

'e'

In [483]:
a[-1] # 문자열을 뒤에서 부터 읽으려면 마이너스를 사용한다.

'n'

In [484]:
a[-0]

'L'

In [485]:
a[0:3] # 0 <= a < 3 이라는 뜻이다.

'Lif'

In [486]:
a[10:-5]

'o short, You need P'

In [487]:
a[19:] # 19에서 끝까지

'You need Python'

In [488]:
a[:17] # 처음부터 17까지

'Life is too short'

In [489]:
a[:] # 처음부터 끝까지

'Life is too short, You need Python'

### pithon이라는 문자열을 python으로 바꾸려면?

In [490]:
a = 'pithon'

In [491]:
a[1] = 'y' # 이렇게 바꿀수 없다.

TypeError: 'str' object does not support item assignment

In [492]:
a[:1] + 'y' + a[2:]

'python'

### 문자열 포맷팅
- %d
- %s
- %c
- %f
- %o
- %x
- %%

In [493]:
'I eat %d 천혜향' % 3

'I eat 3 천혜향'

In [494]:
'I eat %s 천혜향' % 'three'

'I eat three 천혜향'

In [495]:
'10 is %d, %o, %x' % (10,10,10)

'10 is 10, 12, a'

In [496]:
'10 is {}, {:#o}, {:#x}'.format(10,10,10)

'10 is 10, 0o12, 0xa'

### 문자열 함수

In [497]:
"hi".upper() # 소문자를 대문자로 바꾸어준다.

'HI'

In [498]:
"happy".count('p') # p의 숫자세기

2

In [499]:
len('hi') # 문자열 길이

2

In [500]:
"happy".find('y') # y의 위치 알려준다.

4

In [501]:
"happy".find('x') # find는 찾는 문자열이 없을 경우 -1을 반환한다.

-1

In [502]:
"happy".index('y') # y의 위치를 알려준다.

4

In [503]:
"happy".index('x') # index는 찾는 문자열이 없을 경우 에러를 반환한다.

ValueError: substring not found

### 문자열 삽입

In [504]:
" hi ".rstrip() # 오른쪽 공백 제거

' hi'

In [505]:
" hi ".lstrip() # 왼쪽 공백 제거

'hi '

In [506]:
" hi ".strip() # 양쪽 공백 제거

'hi'

In [507]:
"선정이는 배가 고프다".replace("고프다", "곧 밥먹으로 갈거야.") # 문자열 바꾸기

'선정이는 배가 곧 밥먹으로 갈거야.'

In [508]:
"선정이는 전복이 좋아".split()

['선정이는', '전복이', '좋아']

In [509]:
"전복:도:선정:이:가:좋아".split(":")

['전복', '도', '선정', '이', '가', '좋아']

In [510]:
"전복:도:선정:이:가;좋아".split(":")

['전복', '도', '선정', '이', '가;좋아']

In [511]:
"Hi".swapcase() # 대소분자 바꾸기

'hI'

## 리스트

In [512]:
a = [1,2,3]
a

[1, 2, 3]

In [513]:
a[0]

1

In [514]:
a[0] + a[2]

4

In [515]:
a[-1]

3

### 다중리스트

In [516]:
a = [1,2,3,['a','b','c']]

In [517]:
a[0]

1

In [518]:
a[-1]

['a', 'b', 'c']

In [519]:
a[-1][0]

'a'

In [520]:
a=[1,2,['a','b',['Life','is']]]

In [521]:
a[2][2][0]

'Life'

### 리스트 더하고 반복하기

In [522]:
a=[1,2,3]; b=[4,5,6]

In [523]:
a+b

[1, 2, 3, 4, 5, 6]

In [524]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트의 수정 변경과 삭제

In [525]:
a=[1,2,3]

In [526]:
a[2]=4

In [527]:
a

[1, 2, 4]

In [528]:
a[1:2]

[2]

In [529]:
a[1:2] = ['a','b','c'] # 1:2 대신 ['a','b','c']넣음

In [530]:
a

[1, 'a', 'b', 'c', 4]

In [531]:
a[1:3] = ['a','b','c'] # 1:3 대신 ['a','b','c']넣음

In [532]:
a

[1, 'a', 'b', 'c', 'c', 4]

In [533]:
a[1:3] = [] # 리스트 삭제

In [534]:
a

[1, 'c', 'c', 4]

In [535]:
a = [1,2,3]
del a[0] # del이라는 자체 적으로 가지고 있는 내장함수도 존재한다.
a

[2, 3]

## 2일차

### 리스트 관련 함수들

In [536]:
a=[1,2,3]

In [537]:
a.append(4)

In [538]:
a

[1, 2, 3, 4]

In [539]:
a.append([5,6])

In [540]:
a # 리스트에 리스트를 추가 시키면 리스트 가 추가된 형태로 들어간다.

[1, 2, 3, 4, [5, 6]]

## 리스트 정렬(sort)

In [541]:
a=[1,4,3,2]

In [542]:
a.sort()
a

[1, 2, 3, 4]

In [543]:
a=['a','c','b']

In [544]:
a.sort() # 알파벳 순으로 정렬된다.
a

['a', 'b', 'c']

In [545]:
# 문자와 숫자가 섞여있는 경우는 정렬되지 않는다. 버그발생
a=['abc', 123, 'you need python']
a.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [546]:
a = [1,2,3]

In [547]:
a.index(3)

2

In [548]:
a.index(1) # 값이 있으면 그 위치를 돌려준다.

0

In [549]:
a.index(0) # 없으면 에러가 난다.

ValueError: 0 is not in list

In [550]:
a.find(0) # 이아이는 없네. string에만 있는듯 아...깔끔치 못해 -ㅅ-

AttributeError: 'list' object has no attribute 'find'

### 리스트에 요소 삽입

In [551]:
a=[1,2,3]

In [552]:
a.insert(0,4) # 제자리에서 되네. 아 .. 함수마다 다른거 정말 짜증나.

In [553]:
a=[1,2,3]
a.insert(2,5) # 2번쨰에 5를 넣어라.
a

[1, 2, 5, 3]

## 리스트 요소 제거

In [554]:
a = [1, 2, 3, 1, 2, 3]

In [555]:
a.remove(3) # 3번째 요소 제거

In [556]:
a

[1, 2, 1, 2, 3]

리스트 요소 끄집어내기(pop)

In [557]:
a = [1,2,3]

In [558]:
a.pop() # 리스트의 마지막 요소를 돌려주고 그 요소는 삭제한다.

3

In [559]:
a = [1,2,3]
a.pop(1) # 리스트의 1번쨰 요소를 돌려주고 그 요소는 삭제한다.

2

### 개수세기

In [560]:
a = [1,2,3,1]
a.count(1) # 리스트에서 1의 개수를 조사하여 돌려준다.

2

In [561]:
len(a) # 개수를 센다. a.count() 는 버그가 난다. 미묘하다 ..

4

## 리스트 확장 (extend)

In [562]:
a = [1,2,3]

In [563]:
a.extend([4,5]) # 원래의 리스트에 리스트를 더한다.

In [564]:
a

[1, 2, 3, 4, 5]

## 튜플(tuple)
- 변경은 안되고
- 중복은 되고
- 정렬은 안된다.
- 인덱싱, 슬라이싱, 곱하기 더하기 됨

In [565]:
()

()

In [566]:
(1,) # 특이한 점이라면 한개의 요소를 가지는 튜플은 ,를 넣어줘야 한다는 점이다.

(1,)

In [567]:
(1)

1

In [568]:
(1,2,3)

(1, 2, 3)

In [569]:
1,2,3

(1, 2, 3)

In [570]:
1,

(1,)

In [571]:
1,'a'

(1, 'a')

In [572]:
('a', 'b', ('ab', 'cd'))

('a', 'b', ('ab', 'cd'))

In [573]:
t = (1,2,3,1,1,1)

In [574]:
t.count(1)

4

In [575]:
t.index(1)

0

In [576]:
t.index(3)

2

In [577]:
t[0]

1

In [578]:
t[0]=9 # 변경은 불가능 하다.

TypeError: 'tuple' object does not support item assignment

In [579]:
t

(1, 2, 3, 1, 1, 1)

In [580]:
t[:]

(1, 2, 3, 1, 1, 1)

In [581]:
t[1:5] * 5

(2, 3, 1, 1, 2, 3, 1, 1, 2, 3, 1, 1, 2, 3, 1, 1, 2, 3, 1, 1)

In [582]:
t

(1, 2, 3, 1, 1, 1)

In [583]:
t + t

(1, 2, 3, 1, 1, 1, 1, 2, 3, 1, 1, 1)

## 디셔너리

In [584]:
bs = {'mind' : '평온하다', 'target':'ev cat', 'today':'하고싶은게 많은날'}
bs

{'mind': '평온하다', 'target': 'ev cat', 'today': '하고싶은게 많은날'}

### 깨끗하게

In [585]:
bs = {'mind' : '평온하다', 'target':'ev cat', 'today':'하고싶은게 많은날'}
bs.clear() # 깨끗하게 지워줍니다.
bs

{}

### 업데이트와 값복사

In [586]:
bs = {'mind' : '평온하다', 'target':'ev cat', 'today':'하고싶은게 많은날'}
bs2 = bs.copy() # 값 복사

In [587]:
bs2

{'mind': '평온하다', 'target': 'ev cat', 'today': '하고싶은게 많은날'}

In [588]:
bs3 = bs # 주소 복사

In [589]:
bs.update({'mind': '조금멍하다'})

In [590]:
bs

{'mind': '조금멍하다', 'target': 'ev cat', 'today': '하고싶은게 많은날'}

In [591]:
bs2

{'mind': '평온하다', 'target': 'ev cat', 'today': '하고싶은게 많은날'}

In [592]:
bs3

{'mind': '조금멍하다', 'target': 'ev cat', 'today': '하고싶은게 많은날'}

## key이용하여 value 얻기

In [593]:
grade = {'pay':10, 'j':99}

In [594]:
grade['pay']

10

In [595]:
grade['j']

99

In [596]:
a = {1:'a', 2:'b'}

In [597]:
a[1]

'a'

## 추가, 삭제하기

In [598]:
bs = {'mind' : '평온하다', 'target':'ev cat', 'today':'하고싶은게 많은날'}

In [599]:
bs['now'] = '낮잠 자고싶다.'

In [600]:
bs

{'mind': '평온하다', 'target': 'ev cat', 'today': '하고싶은게 많은날', 'now': '낮잠 자고싶다.'}

In [601]:
bs['좋아하는숫자'] = [1,3,7]

In [602]:
bs

{'mind': '평온하다',
 'target': 'ev cat',
 'today': '하고싶은게 많은날',
 'now': '낮잠 자고싶다.',
 '좋아하는숫자': [1, 3, 7]}

In [603]:
bs['이상형'] = '함께 웃을 수 있는 사람'

In [604]:
bs

{'mind': '평온하다',
 'target': 'ev cat',
 'today': '하고싶은게 많은날',
 'now': '낮잠 자고싶다.',
 '좋아하는숫자': [1, 3, 7],
 '이상형': '함께 웃을 수 있는 사람'}

In [605]:
bs[('옷','브랜드')] = 'h:' # 튜플도 키로 쓸 수 있다. 뭔가 요긴할거 같애.

In [606]:
bs

{'mind': '평온하다',
 'target': 'ev cat',
 'today': '하고싶은게 많은날',
 'now': '낮잠 자고싶다.',
 '좋아하는숫자': [1, 3, 7],
 '이상형': '함께 웃을 수 있는 사람',
 ('옷', '브랜드'): 'h:'}

### 키를 리스트로 만들기

In [607]:
bs = {'mind' : '평온하다', 'target':'ev cat', 'today':'하고싶은게 많은날'}

In [608]:
bs.keys()

dict_keys(['mind', 'target', 'today'])

In [609]:
list(bs.keys()) # 리스트로 만들어준다.

['mind', 'target', 'today']

## 아이템 가져오기

In [610]:
bs.items() # 키, 벨류 쌍 튜플 리스트

dict_items([('mind', '평온하다'), ('target', 'ev cat'), ('today', '하고싶은게 많은날')])

In [611]:
bs.get('mind') # 가져온다.

'평온하다'

In [612]:
bs.pop('mind') # 가져오고 제거한다.

'평온하다'

In [613]:
bs

{'target': 'ev cat', 'today': '하고싶은게 많은날'}

In [614]:
bs.popitem() # key, value 상을 튜플로 반환받는다.

('today', '하고싶은게 많은날')

In [615]:
bs = {'mind' : '평온하다', 'target':'ev cat', 'today':'하고싶은게 많은날'}

In [616]:
bs.values()

dict_values(['평온하다', 'ev cat', '하고싶은게 많은날'])

In [617]:
bs.setdefault('mind')

'평온하다'

### 딕셔너리 요소 삭제

In [618]:
bs = {'mind' : '평온하다', 'target':'ev cat', 'today':'하고싶은게 많은날'}

In [619]:
del bs['mind']

## 있으면 가져오고 업으면 업데이트해, 묘하게 편한함수

In [620]:
bs = {'mind' : '평온하다', 'target':'ev cat', 'today':'하고싶은게 많은날'}

In [621]:
bs

{'mind': '평온하다', 'target': 'ev cat', 'today': '하고싶은게 많은날'}

In [622]:
bs.setdefault('mind') # None로 세팅됨

'평온하다'

In [623]:
bs.setdefault('밧데리2','간당간당') # 키, 벨류가 세팅됨

'간당간당'

In [624]:
bs

{'mind': '평온하다', 'target': 'ev cat', 'today': '하고싶은게 많은날', '밧데리2': '간당간당'}

## 3일차

### 참과 거짓

In [632]:
# 깂이 없는 컬렉센이나, 0, None은 모두 거짓이다.
if "" or [] or '' or () or {} or 0 or None  : 
    print('true')
else :
    print('false')

false

### 변수

In [634]:
a = 1

In [635]:
b = 'python'

In [636]:
c = [1,2,3]

### 변수 없애기

In [640]:
a = 3

In [641]:
del(a) # 객체 a도 메모리에서 사라지게 된다.

### 변수를 활용하는 다양한 방법

In [642]:
a = 3
b = 5
a, b = b,a

In [643]:
a

5

In [644]:
b

3

### 리스트 복사

In [648]:
a = [1,2,3]
b = a ## 주소 복사

In [649]:
a[0] = 9

In [650]:
b

[9, 2, 3]

In [654]:
a = [1,2,3]
b = a[:] # 값 복사 또는 copy이용해도 같은 결과

In [655]:
a[0] = 9

In [656]:
b

[1, 2, 3]

## 제어문

### if

In [657]:
if '집중이안되면' :
    print('저글링을하자')
else :
    print('python study')

저글링을하자

### 컬렉션과 조건문

In [658]:
1 in [1,2,3]

True

In [659]:
1 not in [1,2,3]

False

In [660]:
[1,2] in [1,2,3]

False

In [661]:
[1,2] in [1,[1,2]]

True

In [663]:
'a' in ('a','b','c')

True

In [665]:
'j' not in 'pyhton'

True

## elif

In [673]:
coffe_taste = 'bad'
money = 1000

if money < 50000 :
    print('eat finally')
else :
    if coffe_taste == 'bad' :
        print('buy new primium coffee')
    else :
        print('eat')

eat finally

In [676]:
coffe_taste = 'bad'
money = 100000

if money < 50000 :
    print('eat finally')
elif coffe_taste == 'bad' :
    print('buy new primium coffee')
else :
    pass ## 아무런 일도 하지 않게끔 설정하고 싶을 때

buy new primium coffee

### 한줄짜리 if문

In [680]:
pocket = ['paper','nomoney','handphone']
if 'money' in pocket : pass # : 뒤에 수행할 문장을 바로 적어준다.
else : print("back to the home")

back to the home

### while 문

In [684]:
treeHit = 0
while treeHit < 10 :
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [691]:
number = 0
prompt = ''' 
1. Add
2. Del
3. List
4. Quit
'''
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

1

1. Add
2. Del
3. List
4. Quit

4

#### 커피 자판기

In [693]:
coffee = 10
while 1 :
    money = int(input("take your money"))
    if money == 300 :
        print("give coffee")
        coffee = coffee - 1
    elif money > 300:
        print("change money. %d" % (money - 300) )
        coffee = coffee - 1
    else :
        print("back money")
        print("left coffee is %d" % coffee)
    if not coffee :
        print("sold out")
        break

take your money30
back money
left coffee is 10
take your money300
give coffee
take your money500
change money. 200
take your money700
change money. 400
take your money300
give coffee
take your money300
give coffee
take your money300
give coffee
take your money300
give coffee
take your money3
back money
left coffee is 3
take your money300
give coffee
take your money300
give coffee
take your money3001
change money. 2701
sold out

### for문

In [694]:
test_list = ['one', 'two','three']

In [695]:
for i in test_list:
    print(i)

one
two
three

### for와 range

In [698]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [699]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [701]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [704]:
# sum of 1~10
sum = 0
for i in range(1,11) : sum = sum + i

In [705]:
sum

55

In [706]:
성적표 = [100,90,95]
for number in range(len(성적표)) : 
    print(성적표[number])

100
90
95

## 다양한 for문의 활용

In [713]:
a = [(1,2),(3,4),(5,6)]
for (first, last) in a:
    print( "%d + %d = %d" % (first, last, (first+last)))

1 + 2 = 3
3 + 4 = 7
5 + 6 = 11

## for와 range를 이용한 구구단

In [722]:
for i in range(1,10):
    print("\n%d dan : " % i, end = "")
    for j in range(1,10): print("%d" % (i*j), end=" ")

1 dan : 1 2 3 4 5 6 7 8 9
2 dan : 2 4 6 8 10 12 14 16 18
3 dan : 3 6 9 12 15 18 21 24 27
4 dan : 4 8 12 16 20 24 28 32 36
5 dan : 5 10 15 20 25 30 35 40 45
6 dan : 6 12 18 24 30 36 42 48 54
7 dan : 7 14 21 28 35 42 49 56 63
8 dan : 8 16 24 32 40 48 56 64 72
9 dan : 9 18 27 36 45 54 63 72 81